<!DOCTYPE html>
<style>
    body {
        text-align: center;
    }
</style>
<html>
    <body>
        <h1>Login Page</h1><br>
        <form method="POST" action="/adminLogin">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="GO">
        </form>
    </body>
</html>