<!DOCTYPE html>
<html>
    <body>
        <h3>Choose Event</h1>
        <form method="POST" action="/chooseEvent" id="eventForm">

            <select name="event" id="event" onchange="checkNewEvent()">
                <% if(freshEvent != null) { %>
                    <option value="<%=freshEvent._id%>"><%=freshEvent.title%></option>
                <%}%>
                <option value="none"> -- </option>
                <option value="newEvent">New Event</option>
                <% for(i = 0; i < events.length; i++) {%>
                    <option value="<%=events[i]._id%>"><%=events[i].title%></option>
                <%}%>
            </select><br>

            

            <input type="submit"><br>
        </form>
        <div id="newEventButton"></div><br>
        <script>
            function checkNewEvent() {
                if(document.getElementById("event").value == "newEvent"){
                    document.getElementById("newEventButton").innerHTML = "<br><button onclick=\"window.location." + "replace('/newEvent')\">Create Event</button>";
                } else (document.getElementById("newEventButton").innerHTML = "")
            }
        </script>
    </body>
    <button onclick="window.location.replace('/')">Back to home</button>
</html>