<!DOCTYPE html>
<html>
    <body>
        <h3>Choose Event</h1>
        <form method="POST" action="/inputFile" id="eventForm">
            <input type="hidden" name="eventType" value="existing">

            <!--TODO: populate dropdown menu and make input form for new event-->

            <div id="goodData">
                
            </div>
        </form>
    </body>
</html>