<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        h1 {
            font-family: Monaco;
        }
    </style>
    <br><br>
    <h1>Hello!</h1>
    
    <button onclick="window.location.replace('/viewEvents')">View inputted events</button><br>
    <button onclick="window.location.replace('/inputFile')">File Input form</button><br>
    <button onclick="window.location.replace('/newEvent')">Event Input form</button>

</html>
